.sequence.container {
  padding: 0 20px;
  margin-bottom: 10rem;
}

.sequence-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 16px) / 5);
  height: 10rem;
  border-radius: 8px;
  font-size: 48px;
  text-transform: uppercase;
}

.sequence-card.active {
  height: 12rem;
  font-size: 64px;
  font-weight: bold;
}

.sequence-card:not(:last-child) {
  margin-right: 16px;
}
